* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
    height: 100vh;
    color: white;
    background: linear-gradient(to right, rgb(2, 2, 39), rgba(0, 217, 255, 0.952));
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background: linear-gradient(to right, rgba(0, 217, 255, 0.952), rgb(2, 2, 39));
    background-color: black;
    height: 550px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 22px;
}

.heading-div {
    margin-bottom: 28px;
}

#wel {
    font-size: 39px;
    font-weight: 500;
    text-align: center;
    margin: 3px 0px;
}

#log {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0px 0px 0px;
}



.input-div div {
    line-height: 30px;
}

.input-div div h4 {
    font-weight: 500;
    font-size: 14px;
    margin-left: 6px;
}

input {
    width: 260px;
    height: 10px;
    padding: 13px 25px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-color: rgb(46, 146, 138);
    background-color: rgb(255, 255, 255);
}

input:hover {
    background-color: rgb(253, 245, 245);
    border: 2px solid black;
}
