*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(246, 250, 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-section{
    margin: 100px 0px;
    width: 600px;
    max-height: 1100px;
    overflow: hidden;
}

ul li{
    list-style: none;
    width: 100%;    
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 17px;
}


.content{
    line-height: 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    transform: translateX(120%);
}

label + input[type="radio"]:checked + .content{
    max-height: 400px;
    transition: 0.5s;
    transform: translateX(0);
}