*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(255, 123, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 350px;
    height: 470px;
    background: rgb(255, 255, 255);
    position: relative;
    overflow:hidden ;
    transition: all 1s;
    padding: 30px;
    border: 2px solid black;
}
