*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;

}

section{
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
}

div{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    width: 95%;
    transition: all 0.5s;
    height: 95%;
}
