* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(235, 134, 2);
}

.card {
    width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(23, 123, 216);
    font-family: sans-serif;
    line-height: 30px;
    box-shadow: 10px 10px 5px black;
}

::-webkit-scrollbar {
    background-color:rgb(0, 217, 255);
    width: 15px;
    border: 3px  rgb(6, 12, 102) dashed;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ff0099;
    background-image: linear-gradient(225deg, #ff0099 0%, #8000ff 50%, #00f0eb 100%);
    
}