* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: rgb(0, 0, 0);
}

.nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
}

.logo img {
    width: 150px;
    height: 60px;
    cursor: pointer;
}

.nav-hero {
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-hero li a {
    color: black;
    text-decoration: none;
    padding: 10px 24px;
    margin: 6px 5px;
    font-size: 20px;
}

.nav-hero li :hover {
    border: 3px solid black;
    border-radius: 5px;
    background-color: #0ebab1;
}

.quote-button a {
    width: 100%;
    height: 100%;
    background-color: #0ebab1;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.quote-button a:hover {
    box-shadow: 0px 0px 9px black;
    background-color: white;
    color: #0ebab1;
}
