* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: rgb(0, 0, 0);
}

.nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
}

.logo img {
    width: 150px;
    height: 60px;
    cursor: pointer;
}

.nav-hero {
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-hero li a {
    color: black;
    text-decoration: none;
    padding: 10px 24px;
    margin: 6px 5px;
    font-size: 20px;
}

.nav-hero li :hover {
    border: 3px solid black;
    border-radius: 5px;
    background-color: #0ebab1;
}

.quote-button a {
    width: 100%;
    height: 100%;
    background-color: #0ebab1;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.quote-button a:hover {
    box-shadow: 0px 0px 9px black;
    background-color: white;
    color: #0ebab1;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-body {
    width: 100%;
    height: 400px;
    background-color: #0ebab1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-main-heading {
    width: 490px;
    height: 300px;
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main-heading h1 span {
    color: white;
}

.home-center-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-center-image img {
    width: 700px;
    height: 340px;
    border: 3px solid white;
    border-radius: 8px;
    position: relative;
    top: 50px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button-div {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    width: 40px;
    height: 40px;
    background-color: #0ebab1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
}

.triangle {
    width: 20px;
    height: 20px;
    background-color: white;
    clip-path: polygon(20% 0, 20% 100%, 100% 50%);
}

.play-button:hover .triangle {
    background-color: black;
}

.play-button:hover{
    transition: all 0.6s;
    transform: scale(1.1);
    background-color: #ebebeb;

}


.image-button {
    position: relative;
    bottom: 10px;
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    z-index: 3;
}

.image-button a {
    text-decoration: none;
    padding: 10px 11px;
    border-radius: 50px;
}


.get {
    color: white;
    background-color: #0ebab1;
    border: 1px solid #0ebab1;

}

.schedule {
    color: #0ebab1;
    border: 1px solid #0ebab1;
}

.image-button a:hover {
    background-color: #ebebeb;
    color: black;

}


.home-footer {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.home-footer img {
    width: 100%;
    height: 190px;
    background-color: rgba(204, 198, 198, 0.233);
}

.about {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    position: relative;
}
